<h2>Caixa</h2>

<div class="border_of_boxx">
    <table class="table ">
  <thead>
    <tr>
      <th scope="col">Caixa</th>
      <th scope="col">ativo</th>
    </tr>
  </thead>
  <tbody class="table-group-divider table-divider-color">
    <tr>
      <th scope="row">Abertura</th>
      <td>16/09/2026</td>
    </tr>

  </tbody>
</table>
</div>


<div class="buttons ">
    <button type="button" class="btn btn-primary btn-rounded" mdbRipple>Primary</button>
    <button type="button" class="btn btn-primary btn-rounded" mdbRipple>Primary</button>
</div>