<aside class="sidebar">

  <!-- Logo -->
  <div class="sidebar_logo">
    <img src="" alt="New Big Sorveteria">
  </div>

  <!-- Menu -->
  <nav class="sidebar__menu">

    <a href="" routerLinkActive="active" class="sidebar__item">
      <span>DashBoard</span>
    </a>

    <a href="" routerLinkActive="active" class="sidebar__item">
      <span>Caixa</span>
    </a>

    <a href="" routerLinkActive="active" class="sidebar__item">
      <span>Lotes</span>
    </a>

    <a href="" routerLinkActive="active" class="sidebar__item">
      <span>Produto</span>
    </a>

    <a href="" routerLinkActive="active" class="sidebar__item">
      <span>Funcionário</span>
    </a>

    <a href="" routerLinkActive="active" class="sidebar__item">
      <span>Cliente</span>
    </a>

  </nav>

</aside>