<div class="pagina-funcionarios">

  <header class="cabecalho">

    <div>
      <h1>Funcionários</h1>
    </div>

    <button class="botao-novo"
    (click)="abrirModalCriar()">
      <span>+</span>
      Novo funcionário
    </button>
  </header>


  <section class="painel">

    <div class="barra-acoes">

      <div class="pesquisa">

        <input
          type="text"
          [(ngModel)]="busca"
          placeholder="Pesquisar funcionário..."
        />

      </div>

      <span class="contador">
        {{ funcionariosFiltrados.length }} funcionários
      </span>

    </div>


    <div class="tabela-container">

      <table>

        <thead>

          <tr>
            <th>Funcionário</th>
            <th>Cargo</th>
            <th>Telefone</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>

        </thead>

        <tbody>

             @for (
            funcionario of funcionariosFiltrados;
            track funcionario.id
          ) {

          <tr>

            <td>
              <div class="funcionario">

                <div class="avatar">
                  {{ funcionario.nome.charAt(0) }}
                </div>

                <div>
                  <strong>{{ funcionario.nome }}</strong>
                  <small>ID {{ funcionario.id }}</small>
                </div>

              </div>
            </td>

            <td>{{ funcionario.cargo }}</td>

            <td>{{ funcionario.telefone }}</td>

            <td>
              <span class="status ativo"
              [class.inativo]="funcionario.status === 'Inativo'">
                <span class="bolinha"></span>
                {{ funcionario.status }}
              </span>
            </td>

            <td>

              <div class="acoes">

                <button class="botao-editar"
                (click)="abrirModalEditar(funcionario)"
                    title="Editar">
                  <i class="fas fa-pen"></i>
                </button>

                <button class="botao-excluir"
                (click)="abrirModalExcluir(funcionario)"
                    title="Excluir">
                  <i class="far fa-trash-can"></i>
                </button>

              </div>

            </td>

          </tr>

        }

        @if (funcionariosFiltrados.length === 0) {

          <tr>

            <td
            colspan="6"
                class="sem-resultados">

                Nenhum funcionário encontrado.
              
            </td>

            </tr>

        }

         </tbody>

      </table>

    </div>

  </section>

</div>

@if (modalAberto) {

  <div
    class="fundo-modal"
    (click)="fecharModal()">


    <div
      class="modal"
      (click)="$event.stopPropagation()">

      @if (
        modoModal === 'criar' ||
        modoModal === 'editar'
      ) {

        <div class="modal-cabecalho">

          <div>

            <span class="subtitulo">
              FUNCIONÁRIO
            </span>

            <h2>

              @if (modoModal === 'criar') {
                Novo funcionário
              } @else {
                Editar funcionário
              }

            </h2>

          </div>


          <button
            class="botao-fechar"
            (click)="fecharModal()">

            ×

          </button>

        </div>


        <div class="campos">


          <div class="campo campo-completo">

            <label>
              Nome completo
            </label>

            <input
              type="text"
              [(ngModel)]="novoFuncionario.nome"
              placeholder="Digite o nome"
            />

          </div>



          <div class="campo">

            <label>
              Cargo
            </label>

            <input
              type="text"
              [(ngModel)]="novoFuncionario.cargo"
              placeholder="Digite o cargo"
            />

          </div>



          <div class="campo">

            <label>
              Telefone
            </label>

            <input
              type="text"
              [(ngModel)]="novoFuncionario.telefone"
              placeholder="(00) 00000-0000"
            />

          </div>


          <div class="campo">

            <label>
              Status
            </label>

            <select
              [(ngModel)]="novoFuncionario.status">

              <option value="Ativo">
                Ativo
              </option>

              <option value="Inativo">
                Inativo
              </option>

            </select>

          </div>

        </div>



        <div class="modal-acoes">

          <button
            class="botao-cancelar"
            (click)="fecharModal()">

            Cancelar

          </button>


          <button
            class="botao-salvar"
            (click)="salvar()">

            @if (modoModal === 'criar') {
              Cadastrar funcionário
            } @else {
              Salvar alterações
            }

          </button>

        </div>

      }


      @if (modoModal === 'excluir') {

        <div class="modal-excluir">

          <div class="icone-excluir">
            !
          </div>


          <h2>
            Excluir funcionário?
          </h2>


          <p>

            Tem certeza que deseja excluir

            <strong>
              {{ funcionarioSelecionado?.nome }}
            </strong>

            ?

            <br>

            Essa ação não poderá ser desfeita.

          </p>


          <div class="modal-acoes">

            <button
              class="botao-cancelar"
              (click)="fecharModal()">

              Cancelar

            </button>


            <button
              class="botao-confirmar-exclusao"
              (click)="confirmarExclusao()">

              Excluir funcionário

            </button>

          </div>

        </div>

      }

    </div>

  </div>

}